.sidebar {
  height: 100%;
  width: 100%;
  justify-content: baseline;
  padding: var(--op-space-2x-large);
  border-right: var(--op-border-width-large) var(--op-color-neutral-plus-four) solid;
  box-shadow: none;

  .sidebar__title {
    margin-bottom: var(--op-space-2x-large);
  }

  .btn--sidebar {
    color: var(--op-color-black);
    padding: var(--op-space-small);
    border-left: 0 var(--op-color-alerts-notice-minus-two) solid;
    transition: 0.1s;
  }

  .btn--sidebar:hover,
  .btn--active {
    border-left: var(--op-border-width-x-large) var(--op-color-alerts-notice-minus-two) solid;
    color: var(--op-color-alerts-notice-minus-two);
  }

  .sidebar__divider {
    margin-bottom: var(--op-space-large);
    border-top: var(--op-border-width-large) var(--op-color-neutral-base) solid;
  }
}