.chat {
  margin-left: var(--op-space-2x-large);
  margin-right: var(--op-space-2x-large);
  margin-top: var(--op-space-2x-large);

  display: flex;
  flex-direction: column;

  .chat__feed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    height: 100%;
  
    padding: var(--op-space-2x-large);
    
    border: var(--op-border-width-large) var(--op-color-neutral-plus-four) solid;
    border-bottom: none;
  
    border-top-left-radius: var(--op-radius-medium);
    border-top-right-radius: var(--op-radius-medium);
  
    background-color: var(--op-color-alerts-notice-plus-five);
  }

  .chat__textarea {
    justify-self: end;
    box-shadow: inset 0 0 0 var(--op-border-width-large) var(--op-color-neutral-plus-four);
  }
}